body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  /* need to fix the fading off the page so the navbar works */
  /* visibility: visible;
  opacity: 1; */
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

body.loaded {
  visibility: visible;
  opacity: 1;
}

.hero {
  height: 50%; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("path_to_hero_image.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.service_index {
  height: 50%;
}

.container {
  width: 80%; /* Expand container width */
  max-width: 1200px; /* Optional: To prevent content from being too wide */
  margin: 0 auto;
  padding: 20px;
}
